/*
Commented out: Images inserted directly
.pdf, a[href $=".pdf"] {
	padding: 0 0 1px 20px;
	min-height:16px;
}
 
.pdf, a[href $=".pdf"] {
	background: url(img/document-pdf.png) no-repeat 0 50%;
}
*/