* { 
  font-family:Helvetica, Sans, Arial;
}


body { 
  text-align:center;
  background-color:#ffffff;
  color:black;
  margin:auto;
  font-family:Sans, Helvetica;
}

img { 
  border-width:0;
  border-style:none;
}


#meta {
  margin:20px auto 20px auto;
  text-align:left;
  width:960px;
}

#header { 
  width:910px;
  height:107px;
  background-color:#2d5e9a;
  background-image:url("header.png");
  padding:0px 20px 0px 20px;
  font-weight:bold;
  text-align:center;
  border-width:1px;
  border-style:solid;
  border-color:black;
}

#subheader { 
  width:910px;
  padding:3px 20px 3px 20px;
  background-color:#96a8c4;
  font-weight:bold;
  text-align:left;
  border-width:0px 1px 0px 1px;
  border-style:solid;
  border-color:black;
  font-size:small;
  min-height:2ex;
}

#footer { 
  width:910px;
  padding:3px 20px 3px 20px;
  background-color:#96a8c4;
  border-style:solid;
  border-width:0px 1px 1px 1px;
  border-color: black;
  text-align:center;
  font-size:smaller;
  clear:both;
  font-size:x-small;
}


#pagebody { 
  background-color:#f0f0f0;
  float:left;
  width:950px;
  padding:0;
  margin:0;
  border-width:1px;
  border-color:black;
  border-style:solid;
}

#main { 
  float:left;
  width:710px; 
  min-height:800px;
  background-color:white;
  color:black;
  border-color:black;
  border-width:0px 0px 0px 1px;
  border-style:solid;
  background-repeat:no-repeat;
  background-image:url("rwth.gif");
  background-position:top right;
  padding:15px 20px 20px 20px;
  margin:0;

}

/* Total width: 200 */
#sidebar { 
  width:178px;
  padding:10px;
  overflow:auto;
  float:left;
  background-color:#f0f0f0;
  color:black;
  border-style:none;
  border-width:0px;
  border-color:black;
  font-size:small;
  font-weight:bold;
}

#content { 
  padding:3ex;
}

/* Sidebar / navigation */

#sidebar h2 { 
  color:#00418f;
  border-style:none;
  margin:0;
  padding:0;
  font-size:small;
}

#sidebar h2.first { 
  border-top-width:0px;
}

#sidebar ul {
  list-style:none;
  font-size:small;
  margin:0;
  padding:0;
}

#sidebar li {
  display:block;
  border-style:none;
  color:#404040;
}

#sidebar li.first { 
}

#sidebar li a { 
  display:block;
  padding:0.5ex;
  text-decoration:none;
  color:#404040;
  border-width:1px;
  border-style:solid;
  border-color:#f0f0f0;
}

#sidebar li a:hover { 
  background-color:#d0d0d0;
  border-width:1px;
  border-style:solid;
  border-color:#404040;
}

/* Header */
#headertext { 
  height:0px;
  overflow:hidden;
  display:none;
}

#language { 
  float:right;
  font-size:x-small;
}

#language a { 
  text-decoration:none;
  color:#ffffff;
}

#language img { 
  vertical-align:middle;
}

#footerwebmaster { 
  font-size:x-small;
}

#footerwebmaster a { 
  text-decoration:none;
  color:#ffffff;
}

#breadcrumb { 
  font-size:small;
  font-weight:bold;
  color:#00418f;
  margin-bottom:50px;
  margin-right:210px;
}

/* Standard Design Elements*/

a { 
  color:#00418f;
  text-decoration:none;
}

a:hover { 
  color: #ffffff;
  background-color:#00418F;
  text-decoration:none;
}

/* Content */

.lehrveranstaltungsinfo {
  width: 100%;
  background-color: #f0f0f0;
  border: 1px #000 solid;
}

/*.lehrveranstaltungsinfo th {
  font-weight:bold;
}*/
